// variables ///////////////////////////////

@block-padding: 30px;
@brown: #6e6259;

////////////////////////////////////////////

@import 'iunfi-menus';

/*
#twocol-left-wrapper {
  padding-right: 15px;
}

#twocol-right-wrapper {
  padding-left: 15px;
}
*/

#twocol-wrapper, #threecol-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

section.block-1col {
  padding: @block-padding;
  div {
    display:inline;
  }
  li {
    padding-bottom: 20px;
  }
  .img-div {
    padding: 15px; 
  }
}

#home-always-fresh {
  height: 375px;
  margin-top:50px;
  color: #ffffff;
  #home-always-fresh-text {
    text-align: center;
    padding: 60px 400px 20px 20px;
    #home-always-fresh-ios, #home-always-fresh-android {
      display: inline-block;
      margin-top:30px;
      a {
        color: #ffffff;
      }
      p {
        margin-top: 30px;
      }
    }
    #home-always-fresh-ios {
      margin-right: 15px;
    }
    #home-always-fresh-android {
      margin-left: 15px;
    }
  }
}

#block-homepagecustomerspecificpricing {
  background-color: #81c341;
  color: #ffffff;
  .text-div {
    width: 75%;  
  }
}

#block-homepagedirectvendorblock, #block-deviceoptionsheader, #block-getstartedletsgetstarted {
  .text-div {
    width: 65%;  
  }
}

#block-monthlypromosspecials {
  .text-div {
    width: 65%;  
  }
}

#block-homepage247support {
  background-color: @brown;
  color: #ffffff;
  padding: 20px;
  .left-div {
    width: 50%;
    float: left;
  }
  .right-div {
    float: right;
    div {
      float: none;
      height: 50px;
      width: 280px;
      background-color: #ffffff;
      top: 50%;
      left: 50%;
    }
    a {
      color: @brown;
      text-align: center;
      margin: 0 auto;
    }
  }  
}

#block-getstartedtoday {
  text-align: center;  
  margin: 50px 0 20px 0;
  padding: 0 80px;
  h2{
    padding-bottom: 15px;
  }
}

section.block-third-col {
  .img-responsive {
    display: block;
    margin: 0 auto;
  }
  .third-col-header-text h3 {
    margin: 20px 5px;
  }
  .third-col-body ul {
    padding: 0 20px;
  }
}

#block-deviceoptionsbyod {
  #device-options-byod-imgs {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    img {
      vertical-align: middle;
    }
    #device-options-ios {
      padding-right: 10px;
    }
    #device-options-android {
      padding-left: 30px;
    }
  }
}

#device-options-buy-btn, #request-username {
  width: 320px;
  height: 50px;
  background-color: #0091da;
  p {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
  }
}  

#block-getstartedstep2 {
  .third-col-body {
    #device-options-step2-byod {
      margin-bottom: 20px;
      #device-options-step2-byod-text {
        float: right;
        width: 75%;
      }
    }
    #device-options-step2-devices {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      img {
        vertical-align: middle;
      }
      #device-options-step2-img-left {
        padding-right: 25px;
      }
      #device-options-step2-img-right {
        padding-left: 25px;
      } 
    }
    #device-options-step2-buy {
      margin-bottom: 20px;
      margin-top: 20px;
      padding: 0;
      text-align: center;
      #device-options-step2-buy-text {
        float: right;
        width: 75%; 
      }
    }
    #device-options-step2-buy-now {
      width: 320px;
      height: 50px;
      background-color: #0091da;
      p {
        color: #ffffff;
        text-align: center;
        font-weight: bold;
        padding-top: 15px;
      }
    }
  }
}

.half-col-wrapper {
  .half-col-header-wrapper {
    .half-col-image {
      float: right;
      padding-right: 15px;
      margin: 0 15px 15px 15px;
      img {
        height: 125px;
        width: 125px; 
      }
    }
    
  }
}














