// variables ///////////////////////////////

@block-padding: 30px;
@brown: #6e6259;

////////////////////////////////////////////

@import 'iunfi-menus';

section.block-1col {
  padding: @block-padding;
  div {
    display:inline;
  }
  li {
    padding-bottom: 20px;
  }
  .img-div {
    padding: 15px; 
  }
}

#block-homepagecustomerspecificpricing {
  background-color: #81c341;
  color: #ffffff;
  .text-div {
    width: 75%;  
  }
}

#block-homepagedirectvendorblock, #block-deviceoptionsheader, #block-getstartedletsgetstarted {
  .text-div {
    width: 65%;  
  }
}

#block-monthlypromosspecials {
  .text-div {
    width: 65%;  
  }
}

#block-homepage247support {
  background-color: @brown;
  color: #ffffff;
  padding: 20px;
  .left-div {
    width: 50%;
    float: left;
  }
  .right-div {
    float: right;
    div {
      float: none;
      height: 50px;
      width: 280px;
      background-color: #ffffff;
      top: 50%;
      left: 50%;
    }
    a {
      color: @brown;
      text-align: center;
      margin: 0 auto;
    }
  }  
}

#block-getstartedtoday {
  text-align: center;  
  margin: 50px 0 20px 0;
  padding: 0 80px;
  h2{
    padding-bottom: 15px;
  }
}




















