{% spaceless %}
<li class="{{ row._entity.field_device_type.value|clean_class }}">
  <a href="{{ path('entity.node.canonical', {'node': row._entity.nid.value}) }}">{{ row._entity.field_display_title.value }}</a>
  <span>{{ row._entity.field_device_type.value|trim }}</span>
</li>
{% endspaceless %}